.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  min-height: 60vh;
}

.searchSection {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 80px;
}

.searchInput {
  flex: 1;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.searchButton {
  padding: 0 25px;
  height: 38px;
  background-color: #008cff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.resultSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.bgLogo {
  width: 200px;
  height: 150px;
  background-image: url('/gdg-favicon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 70px;
}

.message {
  font-size: 1.1rem;
  color: #666;
}
